body {
    background-color: #121212;
  }

  .text-accent {
    color: rgb(42, 185, 201) !important;
  }

  .btn-accent {
    background-color: rgb(42, 185, 201);
    border-color: rgba(42, 185, 201);
    color: #fff;
  }

  .btn-accent:hover {
    background-color: rgb(32, 160, 170);
    border-color: rgb(32, 160, 170);
  }

  .border-accent {
    border: 2px solid rgba(42, 185, 201, 0.4);
  }

  .border-accent:focus {
    border-color: rgb(42, 185, 201);
    box-shadow: 0 0 0 0.2rem rgba(42, 185, 201, 0.25);
  }

  .placeholder-light::placeholder {
    color: #adb5bd;
    opacity: 0.7;
  }

  .text-price {
    color: #e0e0e0;
  }

  input[type="text"].bg-dark {
    background-color: #212529 !important;
    color: #f8f9fa;
    border: 2px solid rgba(42, 185, 201, 0.4)
  }

  input[type="text"].bg-dark:focus,
  input[type="text"].bg-dark:not(:placeholder-shown) {
    background-color: #212529 !important;
    color: #f8f9fa;
    border-color: rgb(42, 185, 201);
    box-shadow: 0 0 0 0.2rem rgba(42, 185, 201, 0.25);
  }